<div class="container-fluid">
  <!-- <app-page-title title="View Clinics" [breadcrumbItems]="breadCrumbItems"></app-page-title> -->

  <div class="d-flex justify-content-between align-items-center mb-3"></div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="card-title">List stream</h4>
            <button
              type="button"
              class="btn btn-primary btn waves-effect waves-light"
              data-bs-toggle="modal"
              data-bs-target=".bs-example-modal-center"
              (click)="centerclsifctionModal.show()"
            >
              Add Stream
            </button>
          </div>
          <div class="row mb-md-2">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="role-table_length">
                <label class="d-inline-flex align-items-center"
                  >Show
                  <select
                    name="pageSize"
                    aria-controls="role-table"
                    class="form-control form-control-sm mx-2"
                  >
                    <option>10</option>
                    <option>25</option>
                    <option>50</option>
                    <option>100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div id="role-table_filter" class="dataTables_filter text-md-end">
                <label class="d-inline-flex align-items-center"
                  >Search:
                  <input
                    type="text"
                    class="form-control form-control-sm ms-2"
                  />
                </label>
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="table-responsive">
            <table
              id="role-datatable"
              class="table table-bordered dt-responsive nowrap"
            >
              <thead>
                <tr>
                  <th>Sr No</th>
                  <th>
                    Clinic Name
                    <span>
                      <i class="fa"></i>
                    </span>
                  </th>
                  <th>
                    Stream
                    <span>
                      <i class="fa"></i>
                    </span>
                  </th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <!-- Loop through classifications -->
                <tr
                  *ngFor="let classification of classifications; let i = index"
                >
                  <td>{{ i + 1 }}</td>
                  <td>{{ classification.clinicname }}</td>
                  <td>{{ classification.classification }}</td>
                  <td>
                    <button
                      class="btn btn-primary btn-sm"
                      data-bs-toggle="modal"
                      data-bs-target="#editClassificationModal"
                      (click)="openEditModal(classification)"
                      style="
                        background-color: #2196f3;
                        border-color: #2196f3;
                        color: white;
                      "
                    >
                    <i class="fa fa-edit"></i>
                    </button>
&nbsp;
                    <button
                      class="btn btn-secondary btn-sm"
                      [routerLink]="['/classification/view', classification.id]"
                      style="
                        background-color: #607d8b;
                        border-color: #607d8b;
                        color: white;
                      "
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                    <button
                      class="btn btn-danger btn-sm ms-2"
                      (click)="deleteclassification(classification?.id)"
                    >
                    <i class="fa fa-trash"></i>

                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
 
          <!-- Pagination -->
          <div
            class="pagination-controls"
            style="text-align: right; margin-top: 10px"
          >
            <!-- <span>Total Roles: {{ totalRoles }}</span> -->
            <button class="pagination-button">Previous</button>

            <button class="pagination-button">Next</button>
          </div>

          <style>
            .pagination-button {
              padding: 5px 10px;
              font-size: 12px;
              background-color: #f1f1f1;
              color: #333;
              border: 1px solid #ddd;
              border-radius: 3px;
              cursor: pointer;
              margin-right: 5px;
              transition: border-color 0.3s, background-color 0.3s;
            }

            .pagination-button:hover {
              border-color: #007bff;
              background-color: #f9f9f9;
            }

            .pagination-button:disabled {
              cursor: not-allowed;
              opacity: 0.6;
            }
          </style>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add modal -->

<div bsModal #centerclsifctionModal="bs-modal" class="modal fade" tabindex="-1">
  <div
    class="modal-dialog"
    role="document"
    style="max-width: 800px; margin: 30px auto"
  >
    <div
      class="modal-content"
      style="border-radius: 12px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)"
    >
      <div
        class="modal-header"
        style="
          border-bottom: 2px solid #f1f1f1;
          padding: 20px 30px;
          background-color: #222c5c;
          color: white;
          border-radius: 12px 12px 0 0;
        "
      >
        <h5 class="modal-title">Add Stream</h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="
            background: none;
            border: none;
            color: #fafbfc;
            font-size: 1.2rem;
          "
          (click)="centerclsifctionModal?.hide()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 20px">
        <!-- Insert Modal -->
        <form [formGroup]="classification"  enctype="multipart/form-data">
          <!-- Row 2: Clinic Name Dropdown -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
              <div class="form-group">
                <label for="clinicName" style="font-weight: bold; color: #333"
                  >Select Clinic</label
                >
                <select
                  formControlName="clinic_id"
                  id="clinic_id"
                  class="form-control"
                  style="border-radius: 8px; padding: 10px"
                >
                  <option disabled>Select Clinic</option>
                  <option
                    *ngFor="let clinic of clinicData"
                    [value]="clinic.clinicid"
                  >
                    {{ clinic.clinicname }}
                  </option>
                </select>

                <div
                  *ngIf="submitted && f.clinic_id.errors"
                  class="text-danger"
                >
                  Clinic is required.
                </div>
              </div>
            </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="roleName" style="font-weight: bold; color: #333">
                  stream
                </label>
                <input
                  type="text"
                  id="clsifiction"
                  class="form-control"
                  formControlName="classification"
                  placeholder=""
                  style="
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    padding: 10px;
                  "
                />
                <div
                  *ngIf="submitted && f.classification.errors"
                  class="text-danger"
                >
                  stream is required.
                </div>
              </div>
            </div>


            <div class="col-md-6 mt-2">
                <div class="form-group">
                  <label for="roleName" style="font-weight: bold; color: #333">
                    Color
                  </label>
                  <input
                    type="color"
                    id="color"
                    class="form-control"
                    formControlName="clfcolor"
                    placeholder="Enter color"
                    style="
                      border-radius: 8px;
                      border: 1px solid #ccc;
                      padding: 10px;
                    "
                  />
                 
                </div>
            </div>

              <div class="col-md-6 mt-2">
                <div class="form-group">
                  <label for="image" style="font-weight: bold; color: #333">
                    Image
                  </label>
                  <input
                    type="file"
                    id="image"
                    class="form-control"
                    formControlName="clfimg"
                    placeholder="file select"
                    (change)="onFileSelected($event)"
                    style="
                      border-radius: 8px;
                      border: 1px solid #ccc;
                      padding: 10px;
                    "
                  />

                  <div *ngIf="submitted && f.clfimg.errors" class="text-danger">
                   Image is required.
                </div>
                </div>
              </div>

          <!-- Modal Footer -->
          <div
            class="modal-footer"
            style="border-top: 2px solid #f1f1f1; padding: 10px 20px"
          >
            <button
              type="button"
              id="insertclosebtn"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="centerclsifctionModal?.hide()"
              style="
                border-radius: 8px;
                background-color: #262f39;
                color: #f2f4f7;
                padding: 10px 20px;
                border: none;
              "
             
            >
              Close
            </button>
            <button
              (click)="onSubmit()"
              type="submit"
              class="btn btn-primary"
              style="
                border-radius: 8px;
                background-color: #338250;
                color: white;
                padding: 10px 20px;
                border: none;
              "
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- End Modal -->

<!-- edit Modal -->
<div
  class="modal fade"
  id="editClassificationModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editclassificationModallabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog"
    role="document"
    style="max-width: 800px; margin: 30px auto"
  >
    <div
      class="modal-content"
      style="border-radius: 12px; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1)"
    >
      <div
        class="modal-header"
        style="
          border-bottom: 2px solid #f1f1f1;
          padding: 20px 30px;
          background-color: #222c5c;
          color: white;
          border-radius: 12px 12px 0 0;
        "
      >
        <h5 class="modal-title">Edit stream</h5>

        <!-- <pre>{{ selectedclassification | json }}</pre> -->

        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="
            background: none;
            border: none;
            color: #fafbfc;
            font-size: 1.2rem;
          "
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding: 20px">
        <!-- Insert Modal -->
        <form #editclassifctionForm="ngForm">
          <!-- Row 2: Clinic Name Dropdown -->
          <div class="row" style="margin-bottom: 20px">
            <div class="col-md-6">
              <div class="form-group">
                <label for="clinicName" style="font-weight: bold; color: #333"
                  >Select Clinic</label
                >
                <select
                  class="form-control"
                  [(ngModel)]="selectedclassification.clinic_id"
                  style="border-radius: 8px; padding: 10px"
                  name="clinic_id"
                  class="form-control"
                >
                  <option disabled>Select Clinic</option>
                  <option
                    *ngFor="let clinic of clinicData"
                    [value]="clinic.clinicid"
                  >
                    {{ clinic.clinicname }}
                  </option>
                </select>

                <!-- <div
                   
                    class="text-danger"
                  >
                    Clinic is required.
                  </div> -->
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label
                  for="classification"
                  style="font-weight: bold; color: #333"
                >
                  Stream
                </label>
                <input
                  type="text"
                  id="classification"
                  [(ngModel)]="selectedclassification.classification"
                  class="form-control"
                  name="classification"
                  placeholder="Enter classification name"
                  style="
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    padding: 10px;
                  "
                  [class.is-invalid]="
                    editclassifctionForm?.controls?.classification?.invalid &&
                    editclassifctionForm?.controls?.classification?.touched
                  "
                />
                <div
                  *ngIf="
                    editclassifctionForm?.controls?.classification?.invalid &&
                    editclassifctionForm?.controls?.classification?.touched
                  "
                  class="text-danger"
                >
                  Stream is required.
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Footer -->
          <div
            class="modal-footer"
            style="border-top: 2px solid #f1f1f1; padding: 10px 20px"
          >
            <button
              type="button"
              id="closeButton"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              (click)="centerclsifctionModal?.hide()"
              style="
                border-radius: 8px;
                background-color: #262f39;
                color: #f2f4f7;
                padding: 10px 20px;
                border: none;
              "
            >
              Close
            </button>
            <button
              (click)="onupdate()"
              type="submit"
              class="btn btn-primary"
              style="
                border-radius: 8px;
                background-color: #338250;
                color: white;
                padding: 10px 20px;
                border: none;
              "
            >
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
